*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(180, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
div{
    
    width: 350px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px;
    box-shadow:  -20px 20px 50px ;
    margin: 20px;

}
img{
    height: 200px;
    width: 100%;
    
}
a{
    background-color: rgb(15, 236, 15);
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
}